{% extends "core/base.html" %} {% block title %} Nuestros Eco-Lodge {% endblock title %} 
{% load static %} 
{% block content %}
<section id="blog" class="content-section">
  <div class="section-heading">
    <h1>OUR <br /><em>ECO-LODGES</em></h1>
    <p>
      Award-winning eco-lodges and private birding reserves located in the heart
      of Ecuador's most important birding hotspots.
    </p>
  </div>
  <div class="section-content">
    <div class="tabs-content">
      <div class="wrapper">
        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
          <li>
            <a href="#tab1" class="active">ECO-LODGE GUACAMAYOS</a>
          </li>
          <li><a href="#tab2">ECO-LODGE QUITO</a></li>
          <li><a href="#tab3">ECO-LODGE TANDAYAPA</a></li>
          <li><a href="#tab4">ECO-LODGE MILPE</a></li>
        </ul>
        <section id="first-tab-group" class="tabgroup">
          <div id="tab1">
            <ul>
              <li>
                <div class="item">
                  <img
                    src="{% static 'core/img/guacamayos_1.jpg' %}"
                    alt="guacamayos_1"
                    class="tarjetas"
                  />
                  <div class="text-content">
                    <h4>SAN JORGE ECO-LODGE GUACAMAYOS</h4>
                    <span>THE LODGE</span>
                    <p>
                      Cocooned amidst the luxuriant andean cloudforest and
                      surrounded by the breathtaking ridges of the Guacamayos
                      valley, San Jorge Eco-lodge Guacamayos is a haven for
                      tranquility and extraordinary biodiversity. Our brand new
                      birding lodge is located at 6000ft (1800m) in between
                      Antisana National Park and Sumaco Napo-Galeras National
                      Park which rank among some of the most biodiverse
                      locations in Ecuador. Our exclusive sanctuary features
                      several microlimates densely packed into a confined area
                      that spans from the Andean cloudforest at 6900ft (2100m)
                      all the way down to 4200ft (1300m). Each step along our
                      forest trails is a journey into the heart of biodiversity,
                      where every rustle of leaves hints at hidden wonders
                      waiting to be uncovered. San Jorge Eco-lodge Guacamayos is
                      more than a destination; it’s an enchantment, an
                      invitation to be the one with the wilderness and create
                      your own story amidst nature’s masterpiece.
                    </p>

                    <div class="accent-button button">
                      <a href="{% url 'contact' %}">Contactos</a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <img
                    src="{% static 'core/img/guacamayos_2.jpg' %}"
                    alt="guacamayos_2"
                  />
                  <div class="text-content">
                    <h4>LOCATION</h4>
                    <p>
                      Escape to our little paradise, where a little over 2 hours
                      of scenic driving from Quito transports you to a world of
                      natural enchantment. We are located 45 minutes away from
                      Baeza town and 1 hour away from Wawa Sumaco town. Our
                      birding lodge bridges the gap between the montane
                      cloudforest and the foothill forests allowing you to
                      explore any birding location in the area without having to
                      engage in long exhausting road trips. In just under 8
                      minutes, you'll find yourself at the doorstep of the
                      foothills, and in even less time, you'll ascend to the
                      enchanting upper realm of the montane forest. The most
                      blessed location among all our birding lodges undoubtedly
                      belongs to San Jorge Eco-lodge Guacamayos.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <img
                    src="{% static 'core/img/guacamayos_3.jpg' %}"
                    alt="guacamayos_3"
                  />
                  <div class="text-content">
                    <h4>ACCOMMODATIONS</h4>
                    <p>
                      The lodges's sustainable architecture seamlessly blends
                      with the natural landscape, offering breathtaking views
                      from every angle. Our ecological rooms offer a harmonious
                      blend of comfort, rustic charm, and sustainability,
                      providing a unique and eco-friendly lodging experience.
                      Nestled within the lush greenery, our ecological rooms are
                      constructed with locally-sourced and eco-friendly
                      materials that blend seamlessly with nature. The use of
                      renewable resources and low-impact construction techniques
                      ensures that these rooms have a minimal ecological
                      footprint.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div id="tab2">
            <ul>
              <li>
                <div class="item">
                  <img
                    src="{% static 'core/img/quito_1.jpg' %}"
                    alt="quito_1"
                  />
                  <div class="text-content">
                    <h4>SAN JORGE ECO-LODGE QUITO</h4>
                    <span>THE LODGE</span>
                    <p>
                      San Jorge Eco-lodge Quito is a 18th Century Spanish
                      Hacienda located a mere 10 minutes away from the noisy
                      city of Quito. In 1989, its owners Irina and George
                      adapted the property and turn it into a birding eco-lodge
                      to receive birdwatchers and nature lovers from all over
                      the world. Our property features an 80-hectare bird
                      reserve, now Quito’s last remnant of pristine Andean
                      forest. Our lodge is surrounded by native flowering trees,
                      charming gardens, and native orchids carefully brought
                      from our bird reserve. The front patio’s hummingbird
                      feeders attract some of the most dazzling hummingbird
                      species in the Andes including the Sparkling Violetear,
                      White-bellied Woodstar, Shining Sunbeam, Green-tailed
                      Trainbearer, Tyrian Metailtail, Black-tailed Trainbearer
                      and the Sword-billed Hummingbird. Our lodge marks the
                      beginning of the eco-toursitic “Ruta del Colibir” or
                      “Hummingbird Route”.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <img
                    src="{% static 'core/img/quito_2.jpg' %}"
                    alt="quito_2"
                  />
                  <div class="text-content">
                    <h4>LOCATION</h4>
                    <p>
                      Our lodge sits in the foothills of Pichincha Volcano at
                      9800 feet. We are located 10 minutes away from Quito City
                      and 45 minutes away from Quito airport. We offer excellent
                      central location if you are planning to visit Colonial
                      Quito (old town), Yanacocha Reserve, the “Old Nono-Mindo
                      Road”, Jerusalem Park, Tandayapa Cloud Forest, and,
                      Antisana Ecological Park. We are not located within
                      walking distance to any touristic site around Quito city.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <img
                    src="{% static 'core/img/quito_3.jpg' %}"
                    alt="quito_3"
                  />
                  <div class="text-content">
                    <h4>ACCOMMODATIONS</h4>
                    <p>
                      Our lower lodging complex preserves an 18th century rustic
                      style and features 4 queen rooms, upgraded and standard.
                      Our main facilites including our festive "Cucayo"
                      restaurant, game room, and, lounge are located in this
                      complex. Our hummingbird patio and bird feeders are
                      located right next to this complex.
                    </p>

                    <div class="accent-button button">
                      <a href="{% url 'contact' %}">Contactos</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div id="tab3">
            <ul>
              <li>
                <div class="item">
                  <img
                    src="{% static 'core/img/tandayapa_1.jpg' %}"
                    alt="tandayapa_1"
                  />
                  <div class="text-content">
                    <h4>SAN JORGE ECO-LODGE TANDAYAPA</h4>
                    <span>THE LODGE</span>
                    <p>
                      San Jorge Eco-lodge Tandayapa - Hummingbird Sanctuary is a
                      secluded birding eco-lodge located in the heart of the
                      Tandayapa Cloud Forest Reserve (famous for holding the
                      world record of 42 hummingbird species registered in one
                      year!) Our eco-lodge is surrounded by 150-hectares of
                      private cloud forest connected to the mega-diverse
                      Mindo-Nambillo protected reserve, which in 1997, was
                      declared an Area of International Importance for Birds.
                      The lodge has strategically been placed at a transitional
                      elevation with the absolute purpose of receiving the most
                      amount of hummingbird and bird species to our feeders. Our
                      hummingbird feeders are visited by up to 27 hummingbird
                      species including the cloud forest iconic and much
                      sought-after Booted Racket-tail and Violet-tailed Sylph.
                      San Jorge Eco-lodge Tandayapa has a privilege central
                      location inside the eco-toursitic “Ruta del Colibir” or
                      “Hummingbird Route”. Its owners Irina and George opened
                      the lodge in 2005 to receive birdwatchers and nature
                      lovers from all over the world.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <img
                    src="{% static 'core/img/tandayapa_2.jpg' %}"
                    alt="tandayapa_2"
                  />
                  <div class="text-content">
                    <h4>LOCATION</h4>
                    <p>
                      Our lodge sits in the heart of Tandayapa valley at 5500
                      feet (1700m). We are located 1 hour away from Quito city
                      and San Jorge Eco-lodge Quito, and, 1 hour 45 minutes away
                      from Quito airport. We offer excellent central location if
                      you are planning to visit the famous Old Nono-Mindo Road,
                      Andean Cock-of-the-rock Lek, and, Mindo-Nambillo Protected
                      Reserve. San Jorge Tandayapa Cloud Forest Reserve is
                      located in the heart of the Choco Corridor, Ecuador's most
                      important hotspot for endemic wildlife.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <img src="{% static 'core/img/tandayapa_3.jpg' %}" alt="" />
                  <div class="text-content">
                    <h4>ACCOMMODATIONS</h4>
                    <p>
                      Our elegant two-story lodging complex accommodates
                      individual or private groups in (8) spacious double or
                      queen rooms. Tall glass windows overlook parts of the
                      nearby forest and far views of the imposing valley of
                      Tandayapa. Rooms in this complex have private bathroom
                      with hot running water. Each floor has a shared balcony to
                      look for birds in the canopy surrounding the lodge or to
                      glance at the swirling clouds as they move up the valley.
                    </p>

                    <div class="accent-button button">
                      <a href="{% url 'contact' %}">Contactos</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div id="tab4">
            <ul>
              <li>
                <div class="item">
                  <img
                    src="{% static 'core/img/milpe_1.jpg' %}"
                    alt="milpe_1"
                  />
                  <div class="text-content">
                    <h4>SAN JORGE ECO-LODGE MILPE</h4>
                    <span>THE LODGE</span>
                    <p>
                      San Jorge Eco-lodge Milpe- Bird Sanctuary is a secluded
                      birding eco-lodge located in the heart of one of the most
                      biologically-diverse spots in the world, the Choco Endemic
                      Corridor. Our eco-lodge is surrounded by 300-hectares of
                      stunning tropical forest in between the mega-diverse
                      Masphi River Basin and Mindo Nambillo protected reserve,
                      which in 1997, was declared an Area of International
                      Importance for Birds. The lodge has strategically been
                      placed at a transitional elevation between the upper
                      tropical forest and the lower subtropical forest allowing
                      the movement of a ludicrous amount of bird species from
                      both eco-systems. Our hummingbird feeders are visited by
                      up to 12 hummingbird species including the White-tipped
                      Sicklebill, the endemic White-whiskered Hermit, and,
                      seasonally, the Tooth-billed Hummingbird. Nearly all the
                      hummingbird species at this eco-lodge differ from the ones
                      at our Tandayapa lodge. San Jorge Eco-lodge Milpe marks
                      the last point of the eco-toursitic “Ruta del Colibir” or
                      “Hummingbird Route”. Its owners Irina and George opened
                      the lodge in 2007 to receive birdwatchers, bird
                      photographers, and, nature lovers from all over the world.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <img
                    src="{% static 'core/img/milpe_2.jpg' %}"
                    alt="milpe_2"
                  />
                  <div class="text-content">
                    <h4>LOCATION</h4>
                    <p>
                      Our lodge can be reached with minimum logistics as it is
                      located 20 minutes away from the noisy town of Mindo at
                      3000 feet (900m). We are located 2 1/2 hours away from
                      Quito airport, 2 hours from most hotels in Quito city/San
                      Jorge Eco-lodge Quito, and, 1 hour away from San Jorge
                      Eco-lodge Tandayapa. We offer excellent central location
                      if you are planning to visit Mindo area, Andean
                      Cock-of-the-rock Lek in Mindo, Angel Paz Antpitta Feeding
                      Station, Mindo Nambillo Protected Reserve, Rio Silanche
                      Bird Reserve, Long-wattled Umbrellabird Lek, and, San
                      Miguel de los Bancos town bus station.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <img
                    src="{% static 'core/img/milpe_3.jpg' %}"
                    alt="milpe_3"
                  />
                  <div class="text-content">
                    <h4>ACCOMMODATIONS</h4>
                    <p>
                      Our upgraded lodging complex consists of eight extravagant
                      two-story bungalows sprinkled around the main dinning area
                      and observation deck. Each bungalow consists of two
                      floors, each independent floor enjoys two queen-sized beds
                      and a private balcony with hammocks and close views of the
                      exuberant tropical forest. All rooms in this complex have
                      spacious private bathrooms with hot running water,
                      flushing toilet, and, mesh netting to keep out insects.
                      Enjoy 24-hour electricity, comfortable orthopedic
                      mattresses, and a compartment to place and dry-out any
                      photographic equipment. Become deeply involved with the
                      breath-taking wilderness of one of the most
                      biologically-diverse forests of the world without having
                      to give up to modern conveniences. Our lodge and all our
                      rooms have been built with the most ecologically minded
                      construction techniques and materials.
                    </p>

                    <div class="accent-button button">
                      <a href="{% url 'contact' %}">Contactos</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
