{% extends "core/base.html" %} {% block title %} Tours {% endblock title %} 
{% load static %} 
{% block content %}
<section id="featured" class="content-section">
  <div>
    <img
      src="{% static 'core/img/tour_encabezado.png' %}" width="100%"
    />
  </div>
  <hr>
  <div class="section-heading">
    <h1>TOURS</h1>
  </div>
  <div class="section-content">
    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="image">
          <img src="{% static 'core/img/tour_1.jpg' %}" alt="tour_1" />
          <div class="featured-button button">
            <a href="#">DETAILED ITINERARIES</a>
          </div>
        </div>
        <div class="text-content">
          <h4>BIRD PHOTO TOURS</h4>
          <p>
            Unparalleled bird photo tours carefully perfected to photograph
            Ecuador's most spectacular and iconic bird species. Learn a wide
            range of techniques next to the best bird photo guides of the
            country.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="{% static 'core/img/tour_2.jpg' %}" alt="tour_2" />
          <div class="featured-button button">
            <a href="#">DETAILED ITINERARIES</a>
          </div>
        </div>
        <div class="text-content">
          <h4>BIRDING TOURS</h4>
          <p>
            Unparalleled birdwatching trips carefully crafted to see the most
            amount of Ecuador's 1700 bird species inside the most important
            birding reserves and eco-lodges. The best birding guides of the
            country.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="{% static 'core/img/tour_3.jpg' %}" alt="tour_3" />
          <div class="featured-button button">
            <a href="#">DETAILED ITINERARIES</a>
          </div>
        </div>
        <div class="text-content">
          <h4>CUSTOM & PRIVATE TOURS</h4>
          <p>
            A more personalized tailor-made birding or bird photo experience to
            Ecuador's wildest and most biodiverse destinations. Trips completely
            customized to your dates, preferences, pace, focus, and budget.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
