{% extends "core/base.html" %} {% block title %} Contactos {% endblock title %}
{% block content %}
<section id="contact" class="content-section">
  <div id="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.810054005231!2d-78.52601912542889!3d-0.11663199988221332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a21bd399d8b%3A0x7b57d6d886c7560e!2sSan%20Jorge%20Eco%20Lodge%20Quito!5e0!3m2!1ses-419!2sus!4v1704680882313!5m2!1ses-419!2sus"
      width="100%"
      height="400px"
      frameborder="0"
      style="border: 0"
      allowfullscreen
    ></iframe>
  </div>
  <div id="contact-content">
    <div class="section-heading">
      <h1>CONTACT US</h1>
      <p>
        For any inquiries or to book a trip with us, please, fill-in the contact
        form, or write us directly to: magic.birding@gmail.com
        <br /><em>Phone (Ecuador): </em> +593-98-269-3093 | +593-96-010-9678
      </p>
    </div>
    <div class="section-content">
      {% if 'ok' in request.GET %}
        <h4>Your message was sent successfully!!</p>
      {% endif %}
      <form id="contact" action="#" method="POST">
      {% csrf_token %}
        <div class="row">
          <div class="col-md-4">
            {{contact_form.name}}
          </div>
          {{contact_form.name.errors}}
          <div class="col-md-4">
            {{contact_form.email}}
          </div>
          {{contact_form.email.errors}}
          <div class="col-md-4">
            {{contact_form.phone}}
          </div>
          {{contact_form.phone.errors}}
          <div class="col-md-12">
            {{contact_form.message}}
          </div>
          {{contact_form.message.errors}}
          <div class="col-md-12">
            <fieldset>
              <button type="submit" id="form-submit" class="btn">
                Send Message Now
              </button>
            </fieldset>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
